<footer>
    <a class="footer-link" href=""></a>
    <a class="footer-link" href=""></a>
    <a class="footer-link" href=""></a>
    <p> Copyright © 2023 </p>
</footer>




<script src="/index.js" type="text/jsx"></script>
<script src="/views/main.js"></script>
</body>

</html>