<%- include("partials/header") %>
    <div class="about">
        
        <div>
            

            <h3>Our mission is to empower and connect talented artists in the fields of makeup, hair, and nail services
                while providing a seamless platform for customers to discover and book their desired services with ease.
            </h3>

        </div>
        <div class="hrs"> <hr class="dottedhr"></div>
        <div>
            <div class="containerabout">
                <div class="keyvalue">
                    
                    <h3 class="keyhead" style="text-decoration: underline; color:#DB005B;"><strong>Elevating Artistry</strong></h3>
                     
                    <p class="keypara">  We are dedicated to elevating the artistry in the makeup, hair, and nail industry. Our platform serves
                      as a showcase for the immense talent and creativity of artists across India. We aim to celebrate their
                      skills, allowing them to shine and reach a wider audience.
                  </p>
                </div>
                <div class="picvalue">
                   
                      
                    <img class="img-container" src="https://i.pinimg.com/originals/9f/2b/e1/9f2be17b47c1cd0d4df522db7b68cb4d.jpg" alt="">
                </div>
            </div>
            <div class="containerabout">
                <div class="keyvalue">
                    
                    <h3 class="keyhead" style="text-decoration: underline; color:#DB005B;"><strong>Unifying Artists:</strong></h3>
                     
                    <p class="keypara">   Our goal is to foster a sense of community and collaboration by bringing together thousands of
                        exceptional artists under one roof. We create a platform where artists can connect, share knowledge, and
                        support each other, elevating the industry as a whole and promoting professional growth.
                  </p>
                </div>
                <div class="picvalue">
                    <img class="img-container" src="https://tse2.mm.bing.net/th?id=OIP.ifFLGhzXPAEEQKIYCVaW4AHaHa&pid=Api&P=0&h=180" alt="">
                </div>
            </div>
            <div class="containerabout">
                <div class="keyvalue">
                   
                    <h3 class="keyhead" style="text-decoration: underline; color:#DB005B;"><strong>Providing Access to Top Talent</strong></h3>
                    
                    <p  class="keypara">   We strive to make the best artists in their respective fields accessible to customers across India. By
                        curating a network of top-tier professionals with extensive experience, we ensure that customers have
                        access to the finest beauty services available.
                  </p>
                </div>
                <div class="picvalue">
                    <img class="img-container" src="" alt="">
                </div>
            </div>
            <div class="containerabout">
                <div class="keyvalue">
                    
                    <h3 class="keyhead" style="text-decoration: underline; color:#DB005B;"><strong>Ensuring a Seamless Booking Experience</strong></h3>
                    
                    <p class="keypara">  Our focus is on providing a seamless booking experience for customers. We simplify the process, making
                        it effortless for them to find, compare, and book the services they desire. Our aim is to save time and
                        ensure a convenient experience for both customers and artists.
                  </p>
                </div>
                <div class="picvalue">
                    <img class="img-container" src="https://tse2.mm.bing.net/th?id=OIP.ifFLGhzXPAEEQKIYCVaW4AHaHa&pid=Api&P=0&h=180" alt="">
                </div>
            </div>
            
            
            <div class="containerabout">
                <div class="keyvalue">
                    
                    <h3 class="keyhead" style="text-decoration: underline; color:#DB005B;"><strong>Nurturing Customer-Provider Relationships</strong></h3>
                   
                    <p class="keypara">     We aim to build long-lasting relationships between customers and artists by fostering trust,
                        reliability, and exceptional service. Our mission is to create an environment where customers feel
                        valued, and artists are empowered to deliver their best work. Satisfied clients will return again and
                        again.
                  </p>
                </div>
                <div class="picvalue">
                    <img class="img-container" src="https://tse2.mm.bing.net/th?id=OIP.ifFLGhzXPAEEQKIYCVaW4AHaHa&pid=Api&P=0&h=180" alt="">
                </div>
            </div>
            <div class="containerabout">
                <div class="keyvalue">
                    
                    <h3 class="keyhead" style="text-decoration: underline; color:#DB005B;"><strong>Embracing Diversity and Inclusivity</strong></h3>
                   
                    <p class="keypara">     We embrace and celebrate the diversity within the beauty industry. We welcome artists from all
                        backgrounds, cultures, and styles, recognizing that beauty comes in many forms. Our platform promotes
                        inclusivity, catering to the unique preferences and needs of every individual.
                  </p>
                </div>
                <div class="picvalue">
                    <img class="img-container" src="https://tse2.mm.bing.net/th?id=OIP.ifFLGhzXPAEEQKIYCVaW4AHaHa&pid=Api&P=0&h=180" alt="">
                </div>
            </div>
            <div class="containerabout">
                <div class="keyvalue">
                    
                    <h3 class="keyhead" style="text-decoration: underline; color:#DB005B;"><strong>Driving Continuous Innovation:</strong></h3>
                   
                    <p class="keypara">  We are committed to staying at the forefront of technological advancements and industry trends. Our mission is to continuously innovate our platform, incorporating new features and tools that enhance the user experience for both artists and customers. 
                  </p>
                </div>
                <div class="picvalue">
                    <img class="img-container" src="https://tse2.mm.bing.net/th?id=OIP.ifFLGhzXPAEEQKIYCVaW4AHaHa&pid=Api&P=0&h=180" alt="">
                </div>
            </div> <br>
            <p>
                By pursuing these missions, we aim to fulfill our vision of building India's biggest platform for
                Makeup, Hair, and Nail services, connecting talented artists and providing customers with a seamless and
                exceptional beauty experience.
            </p>
        </div> 

    </div>
    <%- include("partials/footer") %>