<%- include("partials/header") %>

<section class="formsection">
    <h1 style="margin-top: 50px;">Contact us </h1>
    <h3>Ask us, we are happy to help you!</h3>
    <div class="contact-container">
        <div class="contactform">
            <form action="/contact" method="post"> <br>
                <input type="text" placeholder="Full Name" name="name" autocomplete="off"><br>
                <input type="number" placeholder="Contact"  name="tel" autocomplete="off" ><br>
                <input type="email" name="email" id="" placeholder="E-mail id" autocomplete="off"><br>
                <textarea name="message" id="" cols="30" rows="10" placeholder="Write your message here" autocomplete="off" ></textarea><br>
                <button type="submit" class="btn">Submit</button>
            </form>
        </div>

    </div>
    <p>or</p>
    <h6>Write us on</h6>
    <h4 style="color:#db005b ; margin: 20px 0 20px 0; ">Email id:<a href="mailto:l.bhardwaj222@outlook.com"> <strong>l.bhardwaj222@outlook.com</strong> </a> </h4>

</section>
  

    
    



    <%- include("partials/footer") %>