<%- include("partials/header") %>

    <main>

        <div class="main-heading">
            <h1>Book your Makeups, Bridal, Party Makeup anywhere, at home, at office, any place or Sallons itself.</h1>
            <a class="btn" href="/services">Book Now</a>
            <div class="hrs"> <hr class="dottedhr"></div>
            <br>
            <h2> <strong>Our Vision:</strong></h2>
            <h3>
                To build India's biggest platform for <em> Makeup, Hair and Nail services.</em>
                All artists are under one roof.
                We have thousands of Arists, who are top in their field. With alot of experience.

            </h3>
        </div>
        <div class="hrs"> <hr class="dottedhr"></div>
        <div class="row">
            <h1 id="services">Our Specialty</h1>
            <section class="service col-lg-4 col-md-6">
                <a href="/services"> <img src="/images/hair.jpg" alt="Hair Artist" class="roundimg">
                    <h2> <strong>Hair Artist </strong> </h2>
                    <p class="content">Creating beautiful updos, intricate braids, and elegant hairstyles for
                        weddings,proms, and other special events.</p>
                </a>

            </section>
            <section class="service col-lg-4 col-md-6">
                <a href="/services"> <img src="/images/makeup.jpg" alt="Makeup Artist" class="roundimg">
                    <h2> <strong>Makeup Artist</strong> </h2>
                    <p class="content">Creating flawless and long-lasting makeup looks for brides and bridal parties,
                        ensuring they look stunning on their special day.</p>
                </a>
            </section>

            <section class="service col-lg-4 col-md-6">
                <a href="/services">
                    <img src="/images/nail.jpg" alt="Nail Artist" class="roundimg">
                    <h2><strong>Nail Artist </strong> </h2>
                    <p class="content">Offering a wide range of manicure and pedicure services, including basic nail
                        care,shaping, cuticle care, and nail polish application.</p>
                </a>

            </section>
        </div>

        <div class="row">
            <h1 id="about">Why Us?</h1>
            <section class=" col-lg-4 col-md-6">
                <h2> <strong>Unparalleled Expertise</strong></h2>
                <p class="content"> Our service providers possess extensive knowledge and expertise in their respective
                    fields. They stay up-to-date with the latest industry trends, techniques, and products to deliver
                    cutting-edge beauty solutions tailored to your unique preferences..</p>
            </section>

            <section class="  col-lg-4 col-md-6">
                <h2> <strong>Unmatched Creativity</strong></h2>
                <p class="content">Our artists are true artisans, showcasing their exceptional creativity and artistic
                    skills in every service they offer. Whether it's creating a flawless makeup look, crafting intricate
                    hairstyles, or designing stunning nail art, they bring their passion and creativity to elevate your
                    beauty experience.</p>
            </section>

            <section class=" col-lg-4 col-md-6">
                <h2> <strong>Client-Centric Approach</strong></h2>
                <p class="content">Your satisfaction is our top priority. Our service providers actively listen to your
                    needs, understand your desired outcome, and work closely with you to achieve your beauty goals. They
                    prioritize open communication, ensuring that your vision is realized and that you feel comfortable
                    and confident throughout the process.</p>
            </section>
        </div>


    </main>

    <%- include("partials/footer") %>