<%- include("partials/header") %>
<body>
    <form action="/login" method="post">
        <input type="text" placeholder="Username" />  <br>
        <input type="text" placeholder="Password"/>  <br>
<br>
        <button type="submit">Login</button>

    </form> 

    <p>Don't have account <a href="/signup">Signup</a></p>
        
    <%- include("partials/footer") %>

    




